/*HTML TAGS*/
:root {
    --primary-color: #1b3e7a;
    --secondary-color: #bf9e87;
    --text-color: white;
    --hover-color: #bf9e87;
    --link-active-bg: #14233d;
    --link-border-color: #16c8d4;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

label, a {
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
}

h5 {
    text-align: center;
    margin-bottom: 5px;
}

button {
    color: var(--text-color);
    background-color: var(--secondary-color);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #1b3e7a;
    border: 1px solid #bf9e87;
}

/*DIV CLASSES*/
/* global styles */
.invalid-feedback {
    margin: 10px 0 10px 0;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgb(109, 1, 1);
    color: red;
}

.success-feedback {
    margin: 10px 0 10px 0;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid limegreen;
    background-color: green;
    color: limegreen;
}

.empty {
    color: red;
    text-align: center;
}

/* login page*/
.login-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.login-wrapper .background-theme {
    background-image: url("/img/happy-weksel-woman-center.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.login-wrapper .login-form {
    width: 100%;
    height: 100%;
    background: #1b3e7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-wrapper .login-form .form-content {
    width: 75%;
    height: max-content;
    padding: 10px 30px;
    text-align: center;
}

.login-wrapper .login-form .form-content h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control>input {
    height: 40px;
    border: 1px solid #bf9e87;
    border-radius: 10px;
    padding: 10px 10px;
}

/* theme colors for dashboard*/
.dark-blue-theme {
    --primary-color: #1b3e7a;
    --secondary-color: #bf9e87;
    --text-color: white;
    --hover-color: #bf9e87;
    --link-active-bg: #14233d;
    --link-border-color: #16c8d4;
}

.light-coffee-theme {
    --primary-color: #bf9e87;
    --secondary-color: #1b3e7a;
    --text-color: white;
    --hover-color: #1b3e7a;
    --link-active-bg: #382f29;
    --link-border-color: #d66c1f;
}

/* dashboard */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 50;
    background-color: var(--primary-color);
    display: flex;
    color: var(--text-color);
}

.container .header .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.container .header .header-wrapper .logo a img {
    transition: 0.3s;
}

.container .header .header-wrapper .logo a img:hover {
    transform: scale(1.2);
}

.container .header .header-wrapper .header-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container .header .header-wrapper .header-tools
.user-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 38px;
    border-radius: 34px;
    border: 3px solid white;
}

.container .header .header-wrapper .header-tools
.theme-switcher {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b3e7a;
    -webkit-transition: .4s;
    transition: .4s;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch input:checked + .slider {
    background-color: #bf9e87;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch  input:focus + .slider {
    box-shadow: 0 0 1px #bf9e87;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.container .header .header-wrapper .header-tools
.theme-switcher .switch .slider.round {
    border-radius: 34px;
}

.container .header .header-wrapper .header-tools
.theme-switcher .switch .slider.round:before {
    border-radius: 50%;
}

.container .main-content {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
}

.container .main-content .side-nav {
    flex: 0 0 200px;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: flex 0.3s;
}

.container .main-content .side-nav .side-nav-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container .main-content .side-nav .side-nav-wrapper .side-nav-heading {
    width: 100%;
    height: 40px;
}

.container .main-content .side-nav .side-nav-wrapper .side-list {
    height: 100%;
    max-width: 400px;
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item {
    cursor: pointer;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item:hover {
    background-color: var(--link-active-bg);
    border-left: 5px solid var(--link-border-color);
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item.active {
    width: 100%;
    height: 40px;
    background-color: var(--link-active-bg);
    border-left: 5px solid var(--link-border-color);
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item.active .list-item-icon {
    color: var(--link-border-color); /* Specify the desired color for the active icon */
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item.active .list-item-text {
    color: var(--link-border-color); /* Specify the desired color for the active text */
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item a {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item a .list-item-icon {
    width: 16px;
    margin-right: 10px;
    text-align: center;
}

.container .main-content .side-nav .side-nav-wrapper
.side-list .side-list-item a .list-item-text {
    width: calc(100%-16px);
    text-align: center;
}

.container .main-content .fillable-content {
    flex: 1;
    max-width: calc(100% - 200px);
    height: 100%;
    transition: max-width 0.3s;
    overflow-y: scroll;
}

.container .main-content .fillable-content .content-container {
    padding: 20px 40px;
}

.container .main-content .fillable-content .content-container
.dashboard-title {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.dashboard-title h2 {
    color: var(--primary-color);
}

.container .main-content .fillable-content .content-container
.dashboard-subtitle {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .wrapper-heading {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .wrapper-heading h2 {
    color: var(--primary-color);
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item {
    width: 150px;
    height: 150px;
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item:hover {
    transform: scale(1.08);
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    height: 100%;
    text-decoration: none;
    color: var(--text-color);
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item a:hover {
    color: var(--hover-color);
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item a .grid-icon {
    text-align: center;
    margin-bottom: 10px;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item a .grid-icon i {
    font-size: 40px;
}

.container .main-content .fillable-content .content-container
.dashboard-wrapper .shortcut-grid .grid-item a .grid-text {
    font-size: 22px;
    text-align: center;
}

/*o nas/atuty/współpraca*/
.container .main-content .fillable-content .content-container
.general-title {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.general-title h2 {
    color: var(--primary-color);
}

.container .main-content .fillable-content .content-container
.general-subtitle {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.general-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container .main-content .fillable-content .content-container
.general-wrapper .add-section {
    text-align: center;
    margin-bottom: 2rem;
}

.container .main-content .fillable-content .content-container
.general-wrapper .list-of-sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container .main-content .fillable-content .content-container
.general-wrapper .list-of-sections h4, p {
    text-align: center;
    margin-bottom: 10px;
}

.container .main-content .fillable-content .content-container
.general-wrapper .list-of-sections .entries {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .main-content .fillable-content .content-container
.general-wrapper .list-of-sections .entries .entry-card {
    width: auto;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.container .main-content .fillable-content .content-container
.general-wrapper .list-of-sections .entries .entry-card .options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/*o nas/atuty/współpraca:create & edit*/
.container .main-content .fillable-content .content-container
.create-section-title {
    margin-bottom: 20px;
    text-align: center;
}

.container .main-content .fillable-content .content-container
.create-section-title h2 {
    color: var(--primary-color);
}

.container .main-content .fillable-content .content-container
.form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    padding: 20px 30px;
}

.container .main-content .fillable-content .content-container
.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.container .main-content .fillable-content .content-container
.form-wrapper form .formControl {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
    justify-content: space-between;
}

.container .main-content .fillable-content .content-container
.form-wrapper form .formControl label {
    color: var(--primary-color);
}

.container .main-content .fillable-content .content-container
.form-wrapper form .formControl input {
    height: 40px;
}

.container .main-content .fillable-content .content-container
.form-wrapper form .formControl input, textarea {
    width: 250px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.container .main-content .fillable-content .content-container
.form-wrapper form .formControl button {
    margin: 0 auto;
}

/* footer */
.container .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* OTHER SETTINGS */
@media (max-width: 590px) {
    .container .main-content .side-nav {
        flex: 0 0 10% !important;
        transition: flex 0.3s;
    }

    .container .main-content .side-nav .side-nav-wrapper {
        padding: 10px 20px;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-nav-heading {
        display: none;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list {
        height: 100%;
        max-width: 100px;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item {
        width: max-content;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a .list-item-text {
        display: none;
    }

    .container .main-content .fillable-content {
        max-width: calc(100% - 10%) !important;
        transition: max-width 0.3s; /* Dodajemy transition dla max-width z efektem trwającym 0.3 sekundy */
    }
}

@media (max-width: 540px) {
    .container .main-content .side-nav {
        flex: 0 0 54px !important;
        transition: flex 0.3s;
    }

    .container .main-content .fillable-content {
        max-width: calc(100% - 54px);
        transition: max-width 0.3s;
    }
}
