/*HTML TAGS*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, label, a {
    color: white;
}

a:hover {
    color: #bf9e87;
}

h5 {
    text-align: center;
    margin-bottom: 5px;
}

button {
    color: white;
    background-color: #bf9e87;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #1b3e7a;
    border: 1px solid #bf9e87;
}

/*DIV CLASSES*/
/* login page*/
.login-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.login-wrapper .background-theme {
    background-image: url("/img/happy-weksel-woman-center.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.login-wrapper .login-form {
    width: 100%;
    height: 100%;
    background: #1b3e7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-wrapper .login-form .form-content {
    width: 75%;
    height: max-content;
    padding: 10px 30px;
    text-align: center;
}

.login-wrapper .login-form .form-content h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control>input {
    height: 40px;
    border: 1px solid #bf9e87;
    border-radius: 10px;
    padding: 10px 10px;
}

/* dashboard */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 50;
    background-color: #1b3e7a;
    display: flex;
    color: white;
}

.container .header .header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.container .main-content {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
}

.container .main-content .side-nav {
    flex: 0 0 260px;
    height: 100%;
    background-color: #1b3e7a;
    color: white;
    transition: flex 0.3s;
}

.container .main-content .side-nav .side-nav-wrapper {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container .main-content .side-nav .side-nav-wrapper .side-nav-heading {
    width: 100%;
    height: 40px;
}

.container .main-content .side-nav .side-nav-wrapper .side-list {
    height: 100%;
    max-width: 400px;
    margin: auto;
}

.container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a {
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a:hover {
    color: #bf9e87;
}

.container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a .list-item-icon {
    width: 50%;
    text-align: center;
}

.container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a .list-item-text {
    width: 100%;
    text-align: center;
}

.container .main-content .fillable-content {
    flex: 1;
    max-width: calc(100% - 260px);
    height: 100%;
    transition: max-width 0.3s;
}

.container .main-content .fillable-content .content-container {
    padding: 20px 40px;
}

.container .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1b3e7a;
    color: white;
}

/* OTHER SETTINGS */
@media (max-width: 590px) {
    .container .main-content .side-nav {
        flex: 0 0 10% !important;
        transition: flex 0.3s;
    }

    .container .main-content .side-nav .side-nav-wrapper {
        padding: 10px 20px;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-nav-heading {
        display: none;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list {
        height: 100%;
        max-width: 100px;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item {
        width: max-content;
    }

    .container .main-content .side-nav .side-nav-wrapper .side-list .side-list-item a .list-item-text {
        display: none;
    }

    .container .main-content .fillable-content {
        max-width: calc(100% - 10%) !important;
        transition: max-width 0.3s; /* Dodajemy transition dla max-width z efektem trwającym 0.3 sekundy */
    }
}

@media (max-width: 540px) {
    .container .main-content .side-nav {
        flex: 0 0 54px !important;
        transition: flex 0.3s;
    }

    .container .main-content .fillable-content {
        max-width: calc(100% - 54px);
        transition: max-width 0.3s;
    }
}

