/* HTML TAGS */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

:before,
:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

nav {
    text-align: center;
}

main {
    position: relative;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-size: 28px;
}

h1,
h3 {
    color: #1b3e7a;
}

h2 {
    color: white;
}

form {
    width: 100%;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px 30px;
}

button {
    color: white;
    background-color: #1b3e7a;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #bf9e87;
    color: #1b3e7a;
}

input:disabled {
    background-color: #e6e5e5;
}

/* DIV CLASSES */
/* global styles */
.empty {
    color: red;
    text-align: center;
}

/* główna */
.glowna {
    padding-top: 130px;
}

.glowna #o-firmie {
    background-image: url("/img/happy-weksel-woman.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
}

.glowna #nasze-atuty {
    background-image: url("/img/atuty-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.glowna #splaty-weksli {
    scroll-margin-top: 150px;
    width: 100%;
    background-color: #bf9e87;
}

.glowna #kalkulator-wekslowy {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.glowna #wspolpraca {
    scroll-margin-top: 150px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.glowna #kontakt {
    scroll-margin-top: 150px;
    width: 100%;
    background-color: #1b3e7a;
    margin-bottom: 30px;
}

.glowna #znajdz-nas {
    scroll-margin-top: 150px;
    width: 100%;
    height: max-content;
}

.header {
    width: 100%;
    background-color: #1b3e7a;
    padding-bottom: 20px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 50;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#header_1 {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.row {
    width: 100%;
    position: relative;
}

.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-items-wrapper {
    display: flex;
    flex-direction: row;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: end;
}

.nav-menu {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-menu > li {
    display: inline-block;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-menu li > a {
    text-decoration: none;
    color: white;
}

.nav-menu li > a:hover {
    color: #bf9e87;
}

.nav-menu > li:hover {
    color: #bf9e87;
}

.nav-phone {
    font-size: 14px;
}

.nav-phone > i {
    color: white;
}

.nav-phone > a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav-phone > a:hover {
    color: #bf9e87;
}

.logo {
    width: 20%;
    text-align: left;
    display: flex;
}

.logo > a {
    color: white;
    text-decoration: none;
}

.logo > a:hover {
    color: #bf9e87;
}

.footer {
    position: relative;
    background-color: #1b3e7a;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.footer .linki .links {
    text-align: left;
}

.footer-menu .linki .page-links a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-menu .linki .page-links a:hover {
    color: #bf9e87;
}

.footer .kontakt .contact {
    text-align: right;
}

.footer-phone > i {
    font-size: 24px;
}

.footer-phone > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 0 5px;
}

.footer-phone > a:hover {
    color: #bf9e87;
}

.footer .designed-by {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.footer .designed-by .sdf {
    display: flex;
}

.footer .designed-by .sdf span > a {
    text-decoration: none;
    color: white;
}

.footer .designed-by span > a:hover {
    color: #bf9e87;
}

.footer .designed-by .privacy-policy {
    display: flex;
}

.footer .designed-by .privacy-policy > a {
    text-decoration: none;
    color: white;
}

.footer .designed-by .privacy-policy > a:hover {
    color: #bf9e87;
}

.sticky-right-menu:first-child {
    top: calc(30% + 40px);
}

.sticky-right-menu:nth-child(2) {
    top: calc(30% + 82px);
}

.sticky-right-menu:nth-child(3) {
    top: calc(30% + 124px);
}

.sticky-right-menu {
    position: fixed;
    right: -150px;
    z-index: 10;
    background-color: #1b3e7a;
}

.sticky-right-menu:hover {
    right: 0;
    transition: right 0.5s;
}

.sticky-right-menu > a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
}

.sticky-right-menu span {
    display: inline-block;
    font-size: 0;
    height: 40px;
    line-height: 40px;
    margin-bottom: 1px;
    text-align: center;
    width: 40px;
}

.sticky-right-menu span > i {
    padding: 5px 5px;
    font-size: 32px;
    color: white;
}

.sticky-right-menu .sticky-content {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
    width: 150px;
}

.card-wrapper {
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.card-wrapper .invisible {
    width: 50%;
    height: 100%;
}

.card-wrapper .card-placeholder {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-wrapper .card-placeholder .intro-card {
    position: relative;
    width: 100%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    right: 0;
}

.intro-card h1 {
    text-align: center;
}

#nasze-atuty .zalety {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nasze-atuty .zalety h1 {
    font-size: 40px;
    color: white;
}

/* #nasze-atuty .zalety .card-slider {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#nasze-atuty .zalety .card-slider .atut-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin-right: 10px;
    padding: 40px 20px;
    gap: 10px;
}

#nasze-atuty .zalety .card-slider .atut-card i {
    color: #1b3e7a;
    font-size: 42px;
}

#nasze-atuty .zalety .card-slider .atut-card h1 {
    color: #1b3e7a;
    font-size: 28px;
} */

#nasze-atuty .full-view {
    width: 100%;
    height: 100%;
}

#nasze-atuty .zalety .full-view .card-grid {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

#nasze-atuty .zalety .full-view .card-grid .card-grid-item {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

#nasze-atuty .zalety .full-view .card-grid .card-grid-item i {
    color: #1b3e7a;
    font-size: 42px;
}

#nasze-atuty .zalety .full-view .card-grid .card-grid-item .more h1 {
    color: #1b3e7a;
    font-size: 28px;
}

#nasze-atuty .zalety .full-view .card-grid .more {
    display: none;
    width: 380px;
    height: max-content;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s;
}

.jak-splacic-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 5%;
    justify-content: center;
}

.step {
    margin: 0 0 20px;
}

.step .center {
    text-align: center;
}

.jak-splacic-wrapper .splata-left {
    flex: 0 0 35%;
    max-width: 35%;
    height: max-content;
}

.jak-splacic-wrapper .splata-right {
    flex: 0 0 35%;
    max-width: 35%;
    height: max-content;
}

.jak-splacic-items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.splata-left h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.splata-right h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.splata-col-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
}

.splata-col-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
}

.splata-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.splata-col-3 i {
    color: #1b3e7a;
    font-size: 32px;
    font-weight: 700;
}

.splata-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.splata-col-9 p {
    color: #1b3e7a;
    font-size: 20px;
    font-weight: 700;
}

.step .step-num {
    color: #1b3e7a;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

.kalkulator-form {
    background-image: linear-gradient(to right, white 50%, #1b3e7a 50%);
    width: 100%;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px 30px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-wrapper > .left-form {
    width: 50%;
    padding: 10px 30px 10px 10px;
}

.form-wrapper > .wide-form {
    width: 100%;
    padding: 10px 10px;
}

.wide-form > .form-control {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.form-control > label {
    width: 100%;
    text-align: end;
}

.form-control > input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    padding: 2px 10px;
}

.form-wrapper > .right-form {
    width: 50%;
    padding: 10px 10px 10px 30px;
    text-align: center;
}

.right-form > h1 {
    color: #bf9e87;
}

.right-form > p {
    color: white;
}

.right-form > img {
    width: 350px;
    height: 350px;
}

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -500px 0 0 500px #1b3e7a; /* 2 */
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -500px 0 0 500px #1b3e7a;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #1b3e7a;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

label {
    text-transform: uppercase;
}

.sliders {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.values {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.custom-input {
    border: 1px solid #1b3e7a;
    width: max-content;
    background-color: #1b3e7a;
    color: white;
    border-radius: 10px;
    height: 40px;
}

.custom-input > div > input {
    height: 37px;
    border-radius: 10px 10px;
}

.custom-input > div {
    margin-right: 5px;
    height: 40px;
}

.values > .form-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.values span {
    border: 1px solid black;
}

.error {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid red;
    color: red;
    background-color: rgb(255, 185, 185);
    width: 35%;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.error p {
    height: 100%;
    margin: 0;
}

#city-zip {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#city-inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

#zip-inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

#street-home {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#street-inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

#home-inner {
    display: flex;
    justify-content: end;
    align-items: center;
}

label.city {
    width: max-content;
}

#city {
    width: 50% !important;
}

label.zip-code {
    width: max-content;
}

#zip-code {
    width: 50% !important;
}

label.street {
    width: max-content;
}

#street {
    width: 46% !important;
}

label.home-number {
    width: max-content;
}

#home-number {
    width: 35% !important;
}

#credits-input {
    width: 100% !important;
    height: 40px !important;
}

#credits-input > div > input {
    width: 93% !important;
    height: 37px !important;
}

#rate-input {
    width: 100% !important;
    height: 40px !important;
}

#rate-input > div > input {
    width: 93% !important;
    height: 37px !important;
}

.wspolpraca-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.wspolpraca-card .background {
    background-image: url("/img/men-handshake.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.wspolpraca-card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 20px 30px;
    background-color: #bf9e87;
    border-radius: 0 10px 10px 0;
}

.wspolpraca-card .content p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.wspolpraca-card .content .center {
    padding-top: 10px;
    text-align: center;
}

#kontakt .row .contact h1 {
    color: white;
}

#kontakt .row .kontakt-card {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#kontakt .row .kontakt-card .contact-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#kontakt .row .kontakt-card .contact-items .contact-item {
    width: 50%;
    height: max-content;
    padding: 10px 20px;
    background-color: #bf9e87;
    border-radius: 10px;
    border: 1px solid #1b3e7a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kontakt .row .kontakt-card .contact-items .contact-item i {
    font-size: 28px;
    color: white;
}

.g-map {
    width: 100%;
    height: max-content;
}

.g-map iframe {
    display: block;
    bottom: 0 !important;
}

.g-map div {
    width: 100%;
    height: 10px;
    background-color: #bf9e87;
}

/* OTHER SETTINGS */
@media (max-width: 1000px) {
    .card-wrapper {
        flex-direction: column;
    }

    .card-wrapper .card-placeholder {
        width: 100%;
    }

    .wspolpraca-card {
        flex-direction: column;
        height: auto;
    }

    .wspolpraca-card .background {
        width: 100%;
        height: 300px;
        border-radius: 10px 10px 0 0;
    }

    .wspolpraca-card .content {
        width: 100%;
        height: max-content;
    }
}

@media (max-width: 820px) {
    .kalkulator-form {
        background-image: linear-gradient(to bottom, #1b3e7a 50%, white 50%);
        height: max-content;
    }

    .kalkulator-form .form-wrapper {
        flex-direction: column-reverse;
    }

    .kalkulator-form .form-wrapper .right-form {
        width: 100%;
    }

    .kalkulator-form .form-wrapper .left-form {
        width: 100%;
        padding-top: 5rem;
    }

    #credits-input > div > input {
        width: 90% !important;
        height: 37px !important;
    }

    #rate-input > div > input {
        width: 90% !important;
        height: 37px !important;
    }
}

@media (max-width: 805px) {
    .footer .linki {
        width: 100%;
    }

    .footer .kontakt {
        width: 100%;
    }

    .footer .links {
        text-align: center;
    }

    .footer .contact {
        text-align: center;
    }
}

@media (max-width: 765px) {
    .glowna {
        padding-top: 91px;
    }

    .intro-card {
        width: 100%;
        bottom: 0;
    }
}

@media (max-width: 700px) {
    .glowna {
        padding-top: 139px;
    }

    #city-zip {
        display: flex;
        flex-direction: column;
    }

    #city-inner {
        margin-bottom: 10px;
    }

    #zip-inner {
        margin-bottom: 10px;
    }

    #street-home {
        display: flex;
        flex-direction: column;
    }

    #street-inner {
        margin-bottom: 10px;
    }

    #street {
        width: 50% !important;
    }

    #home-inner {
        margin-bottom: 10px;
    }

    #home {
        width: 50% !important;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-menu .linki {
        display: flex;
        justify-content: center;
    }

    .footer-menu .linki h5 {
        text-align: center;
    }

    .footer-menu .linki .page-links {
        display: flex;
        flex-direction: column;
    }

    .footer-menu .linki .page-links a {
        text-decoration: none;
        color: white;
        text-align: center;
    }

    .footer-menu .logo-footer {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .footer-menu .kontakt {
        display: flex;
        justify-content: center;
    }

    .footer-menu .kontakt .contact {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .wide-form > #credits-input-wrapper {
        flex-direction: column;
    }

    .wide-form > #rate-input-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #o-firmie {
        height: 950px !important;
        background-image: url("/img/happy-weksel-woman-center.webp") !important;
        background-position: center !important;
    }

    #nasze-atuty .zalety .card-slider {
        height: max-content;
    }

    #kontakt .row .contact .kontakt-card .contact-items {
        flex-direction: column;
    }

    #kontakt .row .contact .kontakt-card .contact-items .contact-item {
        width: 100%;
    }
}

@media (max-width: 530px) {
    .jak-splacic-wrapper {
        flex-direction: column;
    }

    .jak-splacic-wrapper .splata-left {
        flex: 0 0 100%;
        max-width: 100%;
        height: max-content;
    }

    .jak-splacic-wrapper .splata-right {
        flex: 0 0 100%;
        max-width: 100%;
        height: max-content;
    }

    .jak-splacic-wrapper .splata-left h2 {
        text-align: center;
    }

    .jak-splacic-wrapper .splata-right h2 {
        text-align: center;
    }

    .values > #credits-input {
        flex-direction: column;
    }

    .values > #rate-input {
        flex-direction: column;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .right-form > img {
        width: 200px;
        height: 200px;
    }

    .nav-items-wrapper {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        justify-content: center;
    }

    .nav-wrapper {
        justify-content: center;
    }
}

@media (max-width: 430px) {
    .footer .designed-by {
        flex-direction: column;
    }

    .footer .designed-by .sdf {
        justify-content: center;
    }

    .footer .designed-by .privacy-policy {
        justify-content: center;
    }
}
